body {
    font-family: 'Open Sans', sans-serif;
}

/* 13. Basic Styling with CSS */

/* Style the lines by removing the fill and applying a stroke */
.line {
    fill: none;
    stroke: #ffab00;
    stroke-width: 3;
}

.overlay {
    fill: none;
    pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

.focus circle {
    fill: none;
    stroke: steelblue;
}


div#layout {
    text-align: center;
}

div#container {
    width: 700px;
    height: 500px;
    margin: auto;
    background-color: #2F4A6D;
}



.bar {
    fill: steelblue;
}

.tweetTekst {
    color: white;
}


  path {
    fill: #ccc;
    stroke: #fff;
    stroke-width: .5px;
  }
    
  circle {
    fill: #fff;
    fill-opacity: 0.4;
    stroke: #111;
  }
  
  path.active {
    fill: pink;
  }
  circle.active {
    fill: blue;
  }

  